<h1><%= t'views.head.edit' %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('views.nav.show'), @book %> |
  <%= link_to t('views.nav.back'), books_path %>
</nav>
