<p>
  <strong><%= Comment.human_attribute_name(:content) %>:</strong>
  <%= comment.content %>
</p>

<% if comment.user == current_user %>
  <%= button_to '削除', book_comment_path(book, comment), method: :delete %>
<% end %>
